.container-main{
  min-height: 75vh;
  margin-bottom: 25px;
}

.vertical-center {
    vertical-align: middle;
    width: 30%;
  }

  .table-icon {
    width: 40px;
  }

  .footer {
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 1px;
}

